main {
    background-color: #d7d7d7;
}


/* HEADER */

#header_for_weather {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.text_for_weather {
    margin: 0;
    font-size: 40px;
    color: #009494;
}

#js_city_name {
    height: 15px;
    margin-top: 1.5%;
    border: 1px solid #0094946b;
    padding: 3px 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px #00a8de57;
}

input[type="text"]:focus {
    outline: none;
    border-radius: 20px;
}

.js_city_name:focus {
    border-radius: 20px;
}


/* NAV */

#nav_for_main_weather {
    background-color: darkslategray;
    display: flex;
    padding-left: 20px;
}

.nav_bl {
    padding: 15px;
    font-size: 15px;
    color: aliceblue;
    border: 1px solid darkslategray;
}

.js_tab_today {
    border-bottom: 2px solid rgb(12, 162, 234);
    border-left: 1px solid #7f7f7f21;
    border-right: 1px solid #7f7f7f21;
    font-size: 18px;
}


/* HEADER FOR FIRST PAGE */

#header_for_first_page {
    display: flex;
    justify-content: space-between;
}


/* ERROR */

.error {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    margin: 1% auto;
    width: 95%;
    height: 86%;
}

.error span {
    font-size: 40px;
    font-weight: 600;
    color: dimgrey;
    padding-bottom: 1%;
}

.error img {
    width: 380px;
    height: 380px;
    margin: 0 auto;
}


/* MAIN . FIRST SECTION,FIRST SECTION*/

.js_cur_city {
    display: flex;
    justify-content: space-between;
    padding: 0 12% 2%;
    font-size: 12px;
}

.js_cur_city_img {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    justify-content: space-around;
}

.js_cur_city_img img {
    border-radius: 50%;
    background-color: #00a8de57;
    box-shadow: 0 0 5px 2px #00a8de57;
    height: 80px;
    width: 80px;
}

.js_cur_city_temp {
    font-size: 45px;
    margin: 0;
}

.js_cur_city_temp li {
    text-align: center;
}

.js_cur_city_temp :last-child {
    padding-top: 8%;
    font-size: 1.6em;
}

#time_today {
    display: flex;
    flex-direction: column;
    margin: 2.2% 0;
}


/* FIRST SECTION,SECOND SECTION  */

.hourly_head {
    padding-top: 1%;
}

.time_and_icon {
    margin: 3% 7%;
}


/* FIRST SECTION,THRIRD SECTION */

.nearest {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 1% 0;
}

.nearest ul {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: .5%;
    background-color: #e6e6e6;
    padding: .5%;
}

.nearest li {
    margin: auto 0;
    font-size: 20px;
}

.nearest li:first-child {
    width: 30%;
}


/* SECOND SECTION, FIRST SECTIONSECOND SECTION  */

.sec_first {
    display: flex;
    justify-content: space-around;
}

.sec_first ul {
    display: flex;
    flex-direction: column;
    border: .3px solid #b5b3bd4b;
    width: 20%;
    text-align: center;
}

.sec_first img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #00a8de57;
    box-shadow: 0 0 5px 2px #00a8de57;
    border-radius: 50%;
}

.sec_first li {
    padding: 13px 0;
}

.sec_first li:first-child {
    padding: 15px 0 15px 0;
    color: #009494;
    font-weight: 600;
    font-size: 25px;
    /* padding: 10px 32px; */
}

.hourly_head_second {
    padding-top: 1%;
}


/* IMAGE */

.small {
    border-radius: 50%;
    background-color: #00a8de57;
    width: 60px;
    height: 60px;
}

.smallest {
    border-radius: 50%;
    background-color: #00a8de57;
    width: 40px;
    height: 40px;
}


/* BEM */

.perfomance {
    margin: 3% 7%;
    font-size: 20px;
    padding-bottom: 23px;
    color: #b5b3bd;
}

.perfomance ul {
    display: flex;
    color: black;
    font-size: 12px;
    justify-content: space-between;
    border-bottom: .5px solid rgba(127, 127, 127, 0.13);
    width: 100%;
}

.timing {
    padding: 0px 7% 10px 23%;
    display: flex;
    justify-content: space-between;
}

.js_list h4 {
    /* padding-right: 14%; */
    font-weight: 300;
    color: #b5b3bd;
    font-size: 20px;
    width: 41%;
}

.js_list li {
    width: 20%;
}

.dt_w {
    display: flex;
    padding: 0px 3% 5px 19%;
    justify-content: space-around;
}

.today_day {
    font-weight: 500;
    color: #080708;
    font-size: 30px;
    width: 14%;
}

.tempr {
    font-size: 32px;
}


/* HIGLIGHT FOR CLICK */

.highlight {
    background-color: rgba(108, 172, 231, 0.356);
}